body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 16px;
  overflow: hidden;
  position: relative;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  color: rgba(255, 0, 221, 0.863);
  font-size: 16px;
  // color: rgba(255, 162, 0, 0.842);
}

.clients__addSearch {
  display: flex;

  @media screen and (max-width: 768px) {
    flex-direction: column;
  }
}

.clients__addButton {
  @media screen and (max-width: 768px) {
    margin-bottom: 20px;
  }
}

.tooth {
  path:hover {
    fill: #22aa22;
  }
}

.tooth {
  cursor: pointer;
}

.fil2 {
  fill: #fafafa;
}
.fil0 {
  fill: #fafafa;
}
.fil1 {
  fill: #323232;
  fill-rule: nonzero;
}

.tooth:hover .fil0,
.tooth.active .fil0 {
  fill: #7fe5d5;
}

.toot {
  fill: white;
  stroke: #000000;
  stroke-width: 1;
  stroke-linecap: round;
  stroke-linejoin: miter;
  stroke-miterlimit: 4;
  stroke-opacity: 1;
  stroke-dasharray: none;
  cursor: pointer;
}
